services:
  mariadb:
    networks:
      - inception
    build:
      context: ./requirements/mariadb
    ports:
      - 3306:3306
    volumes:
      - db:/var/lib/mysql
    env_file:
      - .env
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "mariadb -uroot -p$$DB_PASS -e 'SELECT 1' || exit 1"]
      interval: 2s
      timeout: 10s

  wordpress:
    networks:
      - inception
    build:
      context: ./requirements/wordpress
    depends_on:
      mariadb:
        condition: "service_healthy"
    ports:
      - 9000:9000
    volumes:
      - wp:/usr/share/webapps/wordpress
    env_file:
      - .env
    restart: always

  nginx:
    networks:
      - inception
    build:
      context: ./requirements/nginx
    depends_on:
      wordpress:
        condition: "service_started"
    ports:
      - 443:443
    volumes:
      - wp:/usr/share/webapps/wordpress
    env_file:
      - .env
    restart: always

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - inception
    environment:
      ADMINER_DEFAULT_SERVER: mariadb

networks:
  inception:
    driver: bridge

volumes:
  db:
    driver: local
    driver_opts:
      type: none
      device: "$VOLUMES_PATH/mariadb"
      o: bind

  wp:
    driver: local
    driver_opts:
      type: none
      device: "$VOLUMES_PATH/wordpress"
      o: bind
